<h2>Enter your new Dream goal here!</h2>
<%= form_for([@user, @high_level]) do |f| %>
    <div class="form group">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="form group">
      <%= f.label :due %><br>
      <%= f.text_field :due, :as => :dateselect %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>
</form>
