<h2>Enter your new dream here!</h2>
<%= form_for([@user, @high_level]) do |f| %>
    <div class="form group">
      <%= f.label :title %><br>
      <span id="HLGtitle"><%= f.text_field :title %></span>
    </div>
    <div class="form group" id="imageinsert">
      <%= f.label "Add an image to visualize your dream." %><br>
      <span id="HLGtitle"><%= f.text_field :img %></span>
    </div>
    <div class="form group" id="dueHLGspace">
      <%= f.label :due %><br>
      <span id="dueHLG"><%= f.date_field :due %></span>
    </div>

    <div class="actions" id="addHLG">
      <%= f.submit 'Add', :class => 'btn btn-success' %>
    </div>

<% end %>
</form>
