<h1>Sign up</h1>
<%= form_for @user do |f| %>
	<p>
		<%= f.label :username %>
		<%= f.text_field :username %>
	</p>
	<p>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</p>
	<p>
		<%= f.label :password_configuration %>
		<%= f.password_field :password_configuration %>
	</p>
	
	<p>
		<%= f.submit %>
	</p>
	<% end %>