
<!-- multistep form -->
<%= form_for(@user) do |f| %>
	<!-- progressbar -->
	<ul id="progressbar">
		<li class="active">Account Setup</li>
		<li>Social Profiles</li>
		<li>Personal Details</li>
	</ul>

	<!-- fieldsets -->
	<%= f.fields_for :high_levels do |hlg| %>
		<fieldset>
			<%= hlg.text_field :title, placeholder: "What is your Goal?" %>
			<h2 class="fs-subtitle">Goal without a target date is a dream</h2>
			<%= hlg.date_field :due, placeholder: "Goal without a target date is a dream" %>
			<h2 class="fs-subtitle">Add a Picture to see Your Dreams</h2>
			<%= hlg.text_field :img, placeholder: "Dream Image URL" %>
			<input type="button" name="next" class="next action-button" value="Next" />
		</fieldset>
		<%= hlg.fields_for :one_month_goals do |omg| %>
			<fieldset>
				<h2 class="fs-title">Break down your dream into smaller goals</h2>
				<h3 class="fs-subtitle"></h3>
				<%= omg.text_field :title, placeholder:"What is your Short Term Goal?" %>
				<%= omg.date_field :end_date, placeholder:"When do you want to acheive your Short Term Goal?" %>
				<input type="button" name="previous" class="previous action-button" value="Previous" />
				<input type="button" name="next" class="next action-button" value="Next" />
			</fieldset>
			<%= omg.fields_for :activities do |act| %>
				<fieldset>
					<h2 class="fs-title">Pick a specific, measurable, achievable, results-focused, and time- bound activity</h2>
					<h3 class="fs-subtitle"></h3>
					<%= act.text_field :title, placeholder: "What is an activity you can do to reach your Short Term Goal?" %>
					<%= act.date_field :due_date, placeholder: "By when do you want to complete this activity?" %>
					<input type="button" name="previous" class="previous action-button" value="Previous" />
					<input type="button" name="next" class="next action-button" value="Next" />
				</fieldset>
			<% end %>
		<% end %>
	<% end %>

	<fieldset>
		<h2 class="fs-title">Personal Details</h2>
		<h3 class="fs-subtitle">Let us know who you are!</h3>
		<%= f.text_field :first_name, placeholder: "First Name" %>
		<%= f.text_field :last_name, placeholder: "Last Name" %>
		<%= f.text_field :phone_number, placeholder: "Phone Number" %>
		<%= f.email_field :email, placeholder:"E-Mail" %>
		<%= f.text_field :username, placeholder:"Create Username" %>
		<%= f.password_field :password, placeholder:"Password" %>
		<%= f.password_field :password_confirmation, placeholder:"Confirm Password" %>
		<input type="button" name="previous" class="previous action-button" value="Previous" />
		<%= f.submit 'Submit', class: "submit action-button"  %>
	</fieldset>
	<% end %>

	<% if @user.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

		<ul>
			<% @user.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<span id="HLGLink"></span>
<span id="HLGLink2"></span>
<span id="HLGclose"></span>
<span id="HLGcomplete"></span>
<span id="HLGdone"></span>
<span id="OMGcomplete"></span>
<span id="OMGdone"></span>
<span id="ACTcomplete"></span>
<span id="ACTdone"></span>
