<body>

  <div id="shadeHLG"></div>
  <div id="modalHLG">
    <%= render 'high_levels/form' %>
    <button type="button" class="btn btn-success" id="HLGclose">Close</button>
  </div>
    <div id="wrapper">

        <!-- Navigation -->

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">


                        <h1 class="page-header">
                            Dashboard <small>WELCOME! <%= @user.first_name %></small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-tachometer"></i> This is your dashboard where you can track your progress, add to your goals, add activities and see
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <i class="fa fa-info-circle"></i>  <strong>Want to make a new Dream goal?</strong> <a href="#" id="HLGLink">CLICK HERE</a> to aim for an additional dream!
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-comments fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge" style="font-size:55px;"><%= @stream.count %></div>
                                        <div>New Announcements!</div>
                                    </div>
                                </div>
                            </div>
                                <div class="panel-footer">
                                    <span class="pull-left"><%= link_to "View Details", stream_path %></span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-rocket fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge" style="font-size:55px;">12</div>
                                        <div>Completed Dreams!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-university fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge" style="font-size:55px;">124</div>
                                        <div>Completed Short Term Goals!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-bullseye fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge" style="font-size:55px;">13</div>
                                        <div>Completed Activities!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <!-- <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Area Chart</h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-area-chart"></div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- /.row -->

                <!-- <div class="row"> -->
                    <div class="col-lg-12">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-rocket fa-2x"></i>  Dreams!</h3>
                            </div>
                            <div class="panel-body">
                              <% @user.high_levels.each do |high| %>
                              <div class='col-md-10'><h3><%= high.title.capitalize  %></h3>
                                <p><%= link_to "Click here", high %> to add a short term goal to this high level goal.</p></div>
                                <div class="progress bar" style="width:100%;">
                                  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: <%= high.progress %>%"></div>
                                </div>
                                  <p class="col-md-12 due_date"><%= high.due %> </p>
                                  <div class="col-sm-12"> <!-- 2nd outer -->
                                    <div class="panel panel-info">  <!-- 2nd color -->
                                      <div class="panel-heading"> <!-- 2nd heading followed by title -->
                                        <h3 class="panel-title"><i class="fa fa-university fa-2x"></i>  Short Term Goals</h3>
                                      </div>
                                      <div class="panel-body">  <!-- 2nd body -->
                                        <% high.one_month_goals.each do |gol| %>
                                          <div class="col-md-6"><h3><%= gol.title.capitalize %></h3>
                                            <p><%= link_to "Click here", gol %> to add an activity to this short term goal.</p></div>
                                            <div class="progress bar" style="width:95%;">
                                              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="<%= gol.progress %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= gol.progress %>%"></div>
                                              <p class="col-md-12 due_date"><%= gol.end_date %> </p>
                                            </div>
                                        <div class="col-md-12">  <!-- 3rd outer-->
                                          <div class="panel panel-danger"> <!-- 3rd color-->
                                            <div class="panel-heading">
                                              <h3 class="panel-title"><i class="fa fa-bullseye fa-2x"></i>  Activity</h3>
                                            </div>
                                              <div class="panel-body">
                                              <% gol.activities.each do |act| %>
                                              <h3><%= act.title.capitalize %></h3>
                                               <% if act.due_date %>
                                                <p class="col-md-12 due_date"><%= act.due_date %> </p>
                                              <% end %>
                                              <% if !act.done %>
                                                <p><%= link_to "Click here", activities_complete_path(act.id) %> to mark this activity as completed!</p>
                                              <% end %>
                                              <% end %>
                                            </div>
                                          </div>
                                        </div>
                                      <% end %>
                                      </div>
                                    </div>
                                  </div>
                                  <% end %>
                                </div>
                                <!-- <div id="morris-donut-chart"></div> -->
                                <div class="text-right">
                                    <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div>

                            </div>

                            <div class="panel-footer clearfix">
                                <div class="pull-right">
                                  <a href="#" class="btn btn-primary" id="HLGLink2">New Dream</a>
                                    <!-- <a href="/high_levels/new" class="btn btn-primary">New Dream</a> -->
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- </div>  -->
                    </div>


                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>

</body>
