<div class="jumbotron vertical-center">
  <div class="container">
    <h1>My Dashboard</h1>
    <p>Here is where you can track your overall daily progress towards acheiving your Dream!</p>
    <p>Below you can add short term goals and activities to help you move step by step in the right direction.</p>
  </div>
</div>
<!-- <div class="container">
  <h1>My Goals</h1>
  <div class="well well-sm col-lg-3"><h2>Active Goals</h2></div>
  <div class="panel-group col-lg-6">
    <div class="panel panel-info">
 -->
  <div class="container">
    <div style="background:green !important" class="jumbotron">
      <h1>Your Dream</h1>
          <% @user.high_levels.each do |high| %>
          <div class='col-md-6'><h2><%= link_to high.title.capitalize, high %></h2></div>
            <div class="progress bar" style="width:100%;">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 10<%#= @user.progress %>%"></div>
            </div>
              <p class="col-md-12 due_date">Due: Dec 31, 2015 (5 months away)</p>
    </div>
  </div>

  <div class="container">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h2>One Month Goals</h2></div>
        <div class="panel-body">
          <% high.one_month_goals.each do |gol| %>
            <div class="col-md-6"><h3><%= link_to gol.title, gol %></h3></div>
              <div class="progress bar" style="width:95%;">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="<%= gol.progress %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= gol.progress %>%"></div>
              </div>
        </div>
    </div>
  </div>

  <div class="container">
    <div class="panel panel-success">
      <div class="panel-heading"><h2>Activities to accomplish your One Month Goal</h2>
      </div>
        <div class="panel-body">
          <% gol.activities.each do |act| %>
          <h3><%= link_to act.title, act %></h3>
          <% if !act.done %>
            <%= link_to "Complete Activity", activities_complete_path(act.id) %>
          <% end %>
        <% end %>
      <% end %>
      <% end %>
          <p>Add a SubGoal</p>
          <%= render 'high_levels/form' %>
      </div>
    </div>
  </div>
