<div class="dena-top-bar">
  <h1>My Goals</h1>
</div><!-- /dena-top-bar -->
<div class="dena-nav-bar">
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="#">Dashboard</a></li>
    <li role="presentation" class="active"><a href="#">Active Goals</a></li>
    <li role="presentation"><a href="#">Completed Goals</a></li>
  </ul>
</div><!-- /dena-nav-bar -->

<!-- /Show all Active Goals -->
<div class="panel panel-default dena-goal-status">
  <div class="panel-heading">
    <h3 class="panel-title">Active Goals</h3>
  </div><!-- /panel-heading -->
</div>

<div class="panel-body" style="border-bottom: 1px solid black;">
  <div class="dena-highlevelgoal-list">

    <ul>
      <div class="goal-list">
        <div class="container-fluid">
          <div class="row">
            <li>
              <div class="col-md-7 highlevelgoal">
              </div>
              <div class="col-md-5">
                <div class="progress">



                  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 10<%#= @user.progress %>%">

                  </div>
                  <span class="sr-only">45%</span>
                </div><!-- /progress -->
              </div><!-- /col-md-5 -->
            </li>
          </div> <!-- row -->
        </div><!-- /container-fluid -->
        <p class="due_date">Due: Dec 31, 2015 (5 months away)</p>
      </div><!-- /goal-list -->
    </ul>

      <% @user.high_levels.each do |high| %>
        <div class="panel panel-default dena-sub-goal-list">
          <div class="panel-heading">
            <div class="panel-title">
              <div class="container-fluid">
                <div class="row">
                    <%= link_to high.title.capitalize, high %>
                    <div class="col-md-7 dena-sub-goal-list">
                      <div class="col-md-5">
                        <div class="progress">
                          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="<%= high.progress %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= high.progress %>%">
                          </div>
                          <span class="sr-only">45%</span>
                        </div>
                      </div>
                    <div class="dena-onemonthgoal-list">
                        <% high.one_month_goals.each do |gol| %>
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="input-group">
                                <!-- <input type="checkbox" aria-label="activity-check-box"> -->
                                <h3><%= link_to gol.title, gol %></h3>
                                <div class="col-md-5">
                                  <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="<%= gol.progress %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= gol.progress %>%">
                                    </div>
                                    <span class="sr-only">45%</span>
                                  </div>
                                </div>
                                <% gol.activities.each do |act| %>
                                <div class="row">
                                  <div class="col-lg-6">
                                    <div class="input-group">
                                        <!-- <input type="checkbox" aria-label="activity-check-box"> -->
                                        <%= link_to act.title, act %>
                                        <% if !act.done %>
                                          <%= link_to "Complete Activity", activities_complete_path(act.id) %>
                                        <% end %>
                                    </div>
                                    <span class="sr-only">45%</span>
                                  </div>
                                </div>
                                <% end %>

                            </div>
                            <span class="sr-only">45%</span>
                          </div>
                        </div>
                        <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <%end%>


              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
        </ul>
    </div><!-- /dena-onemonthgoal-list -->

  </div>
</div>


<%# if @user.one_month_goals.blank? %>
<br>
<br>
<br>
<br>
<p>Add a SubGoal</p>
<%= render 'high_levels/form' %>
<%# else %>
<%# @user.one_month_goals.each do |gol| %>
<!-- <h4><%#= link_to gol.title, gol %></h4> -->
<!-- <p><%#= gol.description %></p> -->
<%# end %>
<%# end %>
