<div class="dena-top-bar">
  <h1>My Goals</h1>
</div>    <!-- /dena-top-bar -->
<div class="dena-nav-bar">
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="#">Dashboard</a></li>
    <li role="presentation" class="active"><a href="#">Active Goals</a></li>
    <li role="presentation"><a href="#">Completed Goals</a></li>
    <li><button type="button" class="btn btn-default" aria-label="Add Goal">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button><a href="#">Add goal</a></li>

  </ul>
</div><!-- /dena-nav-bar -->

<!-- /Show all Active Goals -->
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-success glyphicon glyphicon-pencil">Edit Goal</button>
  <button type="button" class="btn btn-info glyphicon glyphicon-ok">Mark As Done</button>
  <button type="button" class="btn btn-danger glyphicon glyphicon-trash"></button>
</div>
<div class="panel panel-default dena-goal-status">
  <div class="panel-heading">
    <h3 class="panel-title">Active Goals</h3>
  </div><!-- /panel-heading -->
</div> <!-- panel panel-default dena-goal-status -->

<div class="panel-body" style="border-bottom: 1px solid black;">
  <div class="dena-highlevelgoal-list">

    <ul>  <!--- done -->
      <div class="goal-list">
        <div class="container-fluid">
          <div class="row">
            <li>
              <div class="col-md-7 highlevelgoal">
              <div class="col-md-5">
                <div class="progress">

                  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 10<%#= @user.progress %>%"></div>
                  <span class="sr-only">45%</span>
                </div><!-- /progress -->
              </div><!-- /col-md-5 -->
            </div><!-- col-md -7 -->
            </li>
          </div> <!-- row -->
        </div><!-- /container-fluid -->
        <p class="due_date">Due: Dec 31, 2015 (5 months away)</p>
      </div><!-- /goal-list -->
    </ul>

      <% @user.high_levels.each do |high| %>
        <div class="panel panel-default dena-sub-goal-list">
          <div class="panel-heading">
            <div class="panel-title">
              <div class="container-fluid">
                <div class="row">
                    <%= link_to high.title.capitalize, high %>
                    <div class="col-md-7 dena-sub-goal-list">
                      <div class="col-md-5">
                        <div class="progress">
                          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="<%= high.progress %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= high.progress %>%"></div>
                          <span class="sr-only">45%</span>
                        </div> <!-- progress -->
                      </div> <!-- col-md-5 -->
                    <div class="dena-onemonthgoal-list">
                        <% high.one_month_goals.each do |gol| %>
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="input-group">
                                <!-- <input type="checkbox" aria-label="activity-check-box"> -->
                                <h3><%= link_to gol.title, gol %></h3>
                                <div class="col-md-5">
                                  <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="<%= gol.progress %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= gol.progress %>%">
                                    </div>
                                    <span class="sr-only">45%</span>
                                  </div> <!-- progress -->
                                </div> <!-- col md 5 -->
                                <% gol.activities.each do |act| %>
                                <div class="row">
                                  <div class="col-lg-6">
                                    <div class="input-group">
                                        <!-- <input type="checkbox" aria-label="activity-check-box"> -->
                                        <%= link_to act.title, act %>
                                        <% if !act.done %>
                                          <%= link_to "Complete Activity", activities_complete_path(act.id) %>
                                        <% end %>
                                    </div> <!-- input group -->
                                    <span class="sr-only">45%</span>
                                  </div> <!-- col lg 6 -->
                                </div> <!-- row -->
                                <% end %>

                            </div> <!-- input group -->
                            <span class="sr-only">45%</span>
                          </div> <!-- col lg 6 -->
                        </div> <!-- row -->
                        <% end %>
                    </div> <!-- one month goal list -->
                  </div> <!-- col-md-7 dena-sub-goal-list -->
                </div> <!-- row -->
              </div> <!-- container-fluid -->
            </div> <!-- panel-title -->
          </div> <!-- panel-header -->
        </div> <!-- panel panel-default dena-sub-goal-list -->
      <%end%>
      <article>
        <div class="fb-share-button" data-href="https://localhost:3000" data-layout="button"></div>
      </article>


              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
        </ul>
    </div><!-- /dena-onemonthgoal-list -->

  


<%# if @user.one_month_goals.blank? %>
<br>
<br>
<br>
<br>
<p>Add a SubGoal</p>
<%= render 'high_levels/form' %>
<%# else %>
<%# @user.one_month_goals.each do |gol| %>
<!-- <h4><%#= link_to gol.title, gol %></h4> -->
<!-- <p><%#= gol.description %></p> -->
<%# end %>
<%# end %>
