<div class="dena-top-bar">
  <h1>My Goals</h1>
</div><!-- /dena-top-bar -->
<div class="dena-nav-bar">
  <ul class="nav nav-tabs">
  <li role="presentation"><a href="#">Dashboard</a></li>
  <li role="presentation" class="active"><a href="#">Active Goals</a></li>
  <li role="presentation"><a href="#">Completed Goals</a></li>
</ul>

</div><!-- /dena-nav-bar -->


<div class="panel panel-default dena-goal-status ">
  <div class="panel-heading">
    <h3 class="panel-title">Active Goals</h3>
  </div><!-- /panel-heading -->
  <div class="panel-body">

    <div class="dena-highlevelgoal-list">
      <ul>
        <div class="goal-list">
          <div class="container-fluid">
            <div class="row">
              <li>

                <div class="col-md-7 highlevelgoal"><%= @user.high_level_goal %>
                </div>


                <div class="col-md-5">
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">

                      <span class="sr-only">45%</span>
                    </div><!-- /progress-bar -->
                  </div><!-- /progress -->
                </div><!-- /col-md-4 -->
              </div><!-- /row -->
              <p class="due_date">Due: Dec 31, 2015 (5 months away)</p>
            </li>
            
          </div><!-- /container-fluid -->
        </div><!-- /goal-list -->

        <div class="panel panel-default dena-sub-goal-list">
          <div class="panel-heading">
            <h4 class="panel-title">
              <% @user.one_month_goals.each do |gol| %>
              <li class="dena-sub-goal-list"><%= gol.title.capitalize %></li>

            </h4>
          </div><!-- /panel-heading -->

          <div class="panel-body">

            <div class="dena-onemonthgoal-list">

              <p><%= gol.end_date %></p></li>
              <ul>
                <% gol.activities.each do |act| %>

              
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="input-group">
                        <span class="input-group-addon">
                        
                         <li>
                          <input type="checkbox" aria-label="activity-check-box">
                        </span>
                        
                        <%= act.title %>                    
                        <% @scr ||= 0 %>
                        <% @scr += act.score %>
                        
                        <p>Score <%= @scr %></p>
                      </li>
                      <% @scr = 0 %>
                      <% end %>
                      <%end%>
                    </ul>

                  </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
              </div><!-- /.row -->


            </div><!-- /dena-onemonthgoal-list -->
          </div><!-- /panel-body -->
        </div><!-- /panel panel-default dena-sub-goal-list-->
      </ul>
    </div><!-- /dena-highlevelgoal-list-->
  </div><!-- /panel-body -->
</div><!-- /panel panel-default dena-goal-status -->





<%# if @user.one_month_goals.blank? %>
<br>
<br>
<br>
<br>
<p>Add a SubGoal</p>
<%= render 'one_month_goals/form' %>
<%# else %>
<%# @user.one_month_goals.each do |gol| %>
<!-- <h4><%#= link_to gol.title, gol %></h4> -->
<!-- <p><%#= gol.description %></p> -->
<%# end %>
<%# end %>
