<div class="dena-top-bar">
  <h1>My Goals</h1>
</div><!-- /dena-top-bar -->
<div class="dena-nav-bar">
  <ul>
    <li>Dashboard</li>
    <li>Goals</li>
    <li>Tasks</li>
  </ul>
</div><!-- /dena-nav-bar -->


<div class="panel panel-default dena-goal-status ">
  <div class="panel-heading">
    <h3 class="panel-title">Active Goal</h3>
  </div><!-- /panel-heading -->
  <div class="panel-body">

    <div class="dena-highlevelgoal-list">
      <ul>
        <li><%=@user.high_level_goal %>
          <p>(Due date)</p>
          <p>Meter of High Level Goal</p>
        </li>

        <div class="panel panel-default dena-sub-goal-list">
          <div class="panel-heading">
            <h4 class="panel-title">SubGoals</h4>
          </div><!-- /panel-heading -->

          <div class="panel-body">

            <div class="dena-onemonthgoal-list">
              <ul>
                <% @user.one_month_goals.each do |gol| %>

                <div class="row">
                  <div class="col-lg-6">
                    <div class="input-group">
                      <span class="input-group-addon">

                       <li>
                        <input type="checkbox" aria-label="...">
                      </span>
                      
                      <%= link_to gol.title, gol %></li>
                      <p><%= gol.end_date %></p>
                      <% gol.activities.each do |act| %>
                      <li>list of activites here</li>
                      <% @scr ||= 0 %>
                      <% @scr += act.score %>
                      <%end%>
                      <p>Score <%= @scr %></p>
                      <% @scr = 0 %>
                      <% end %>

                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->

              </ul>
            </div><!-- /dena-onemonthgoal-list -->
          </div><!-- /panel-body -->
        </div><!-- /panel panel-default dena-sub-goal-list-->
      </ul>
    </div><!-- /dena-highlevelgoal-list-->
  </div><!-- /panel-body -->
</div><!-- /panel panel-default dena-goal-status -->





<%# if @user.one_month_goals.blank? %>
<br>
<br>
<br>
<br>
<p>Add a SubGoal</p>
<%= render 'one_month_goals/form' %>
<%# else %>
<%# @user.one_month_goals.each do |gol| %>
<!-- <h4><%#= link_to gol.title, gol %></h4> -->
<!-- <p><%#= gol.description %></p> -->
<%# end %>
<%# end %>
