<!-- adding remote new -->
<%#= form_for([@user, @one_month_goal], remote: true) do |f| %>
<h2>Enter your new short term goal here!</h2>
<%= form_for([@user, @one_month_goal]) do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.text_field :end_date, :as => :dateselect %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
