<h1>Here you can see your progress toward your One Month Goal.</h1>
<% if @one_month_goal.activities.blank? %>
  <%= render 'activities/form' %>
<% else %>
  <% @one_month_goal.activities.each do |act| %>
    <h3><%= link_to act.title, act %></h3>
    <p><%= act.description %></p>
    <p><%= act.score %>%<p>
  <% end %>
<% end %>
<p><%= link_to "Back to your Dashboard", @user %></p>
