<h3>What can you do for 15 minutes each day to complete your short term goal?</h3>
<br>
<%= form_for([@one_month_goal, @activity]) do |f| %>
  <div class="field">
    <h4><%= f.label "Activity" %><br>
    <%= f.text_field :title %></h4>
  </div>
  <div class="field formdate">
    <h4><%= f.label "Set a due date" %><br>
    <%= f.date_field :due_date %></h4>
  </div>

  <div class="actions">
    <%= f.submit 'Add', :class => 'btn btn-success', :id => "stgbutton" %>
  </div>
<% end %>
