<h1>Ok, <%= @user.first_name %>! It's time now to figure out how to reach this month's goal!</h1>
<p>Think about what can you do for 15 minutes each day that will help you accomplish your goal.<p>
<p> This should be a little step that you can put into your daily routine.</p>
<%= form_for([@one_month_goal, @activity]) do |f| %>
  <div class="field">
    <%= f.label "Activity Name" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.text_field :due_date, :as => :datepicker %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
