<h1>Ok Lardo.. It's time now to figure out how to reach this month's goal</h1>
<p>What can you do for 15 minutes each day that will help you accomplish your goal?<p>
<%= form_for([@one_month_goal, @activity]) do |f| %>
  <div class="field">
    <%= f.label "Activity Name" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
